<div class="panel panel-primary" ng-controller="AddRIDFormCtrl">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center;font-weight:bold;">РИД (Результат интеллектуальной деятельности)
</h3>
  </div>
  <div class="panel-body">
    <div class="container" style="width:100%;">
      <div class="row">
        <form name = "addRidForm" ng-controller = "RIDFormCtrl" class = "col-sm-6" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>Название</label>
            <input type="text" class="form-control" placeholder="Введите название" ng-model = "form.staticFields.title" required>
          </div>
          <div class="form-group">
            <label>Краткое описание</label>
            <textarea class="form-control" placeholder="Введите краткое описание" ng-model = "form.staticFields.short_descr">></textarea>  
          </div>
          <div class="form-group">
              <label>Отрасли</label>
              <select class="form-control" ng-change = "changeBranch()" ng-model = "form.dynamicFields.selectBranch[0].value[0].value" required>
                <option value = "">Выберите отрасль</option>
                <option  ng-repeat="(i, titleBranch) in initDataForStaticFields.branches" value = "{{i}}">{{titleBranch}}</option>
              </select>
          </div>
          <!-- {{form.dynamicFields}}-->
          <div class="form-group" ng-repeat="(indexDynamicField, dynamicField) in form.dynamicFields['addField']" ng-controller = "DynamicFieldsCtrl">
            <div ng-switch on="dynamicField.selectTypeOfField['key']">
              <div style = "position: absolute;float: right;right: 0;margin-right: 0;">
                (видимость: <span style = "color: blue;">{{initDataForDynamicFields['idACL'][dynamicField['idACL']]}}</span>)
              </div>
              <div ng-switch-when="string" class = "row">
                <div ng-include src='"angular/templates/string.html"'></div>
              </div>
              <div ng-switch-when="text" class = "row">
                <div ng-include src='"angular/templates/text.html"'></div>
              </div>
              <div ng-switch-when="file" class = "row">
                <div ng-include src='"angular/templates/file.html"'></div>
              </div>
              <div ng-switch-default></div>
            </div>
          </div>
          <div class="form-group" ng-controller = "DynamicFieldsCtrl">
            <label>Добавить поле</label>
            <span style = "margin-right:5px;" ng-repeat="(indexObjTitleTypeOfField, objTitleTypeOfField)  in initDataForDynamicFields.typeOfField">
              <button  type="button" class="btn btn-primary" ng-click="addDynamicFields(objTitleTypeOfField)">{{objTitleTypeOfField['title']}}</button>
            </span>
          </div>
          <div class="form-group" ng-controller ="AddLinkForRIDCtrl">
            <label>Зависимости</label>
              <button  type="button" class="btn btn-primary" ng-click="addLinkRID('selectionRelated')">Связанные РИД</button>
              <button  type="button" class="btn btn-primary" ng-click="addLinkRID('selectionInheritable')">Наследуемые РИД</button>
          </div>
              <button type="submit" class="btn btn-default" ng-click = "saveModelForm(addRidForm)">Продолжить</button>
              <button type="submit" class="btn btn-default" ng-click = "saveTemplateForm()">Сохранить шаблон</button>
        </form>
         <div class = "col-sm-2">
         </div>
         <div class = "col-sm-4 list-group">
              <a href="#" class="list-group-item active" ng-controller="AclOfRIDFormCtrl" ng-click = "tuneAcl()">
                <span style = "cursor:pointer;" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Настройка уровня доступа
              </a>     
              <a href="#" class="list-group-item active">
                Сохраненные РИД
              </a>            
              <a href="#" class="list-group-item" ng-repeat  = "(i, v) in allRID" ng-click = "getConcreteRID(v['id'])">{{v['title']}}</a>
              <a href="#" class="list-group-item active">
                Сохраненные шаблоны РИД
              </a>            
              <a href="#" class="list-group-item" ng-repeat  = "(i, v) in allTemplateRID" ng-click = "getTemplateRID(v)">{{v}}</a>
              <a href="#" class="list-group-item active" ng-if = "form.dynamicFields.selectionRelated.length">
                Связанные РИД
              </a>         
              <a href="#" class="list-group-item" ng-repeat  = "(i, v) in form.dynamicFields.selectionRelated" ng-click = "getConcreteRID(v.idLinkRid)">{{allRID[v.idLinkRid].title}}</a>
              <a href="#" class="list-group-item active" ng-if = "form.dynamicFields.selectionInheritable.length">
                Наследуемые РИД  
              </a>         
              <a href="#" class="list-group-item" ng-repeat  = "(i, v) in form.dynamicFields.selectionInheritable" ng-click = "getConcreteRID(v.idLinkRid)">{{allRID[v.idLinkRid].title}}</a>
         </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src='"angular/templates/modal_add_link.html"'></div>
<div ng-include src='"angular/templates/modal_dynamic_fields.html"'></div>
<div ng-include src='"angular/templates/modal_acl.html"'></div>