<div class="col-sm-12">
	<label class="control-label">{{dynamicField['nameOfField']['title']}}</label>
<div class="col-sm-11">
	<!--<input ng-if = "!dynamicField.value[0].value" class="form-control" name = "uploadfile[]" type="file" fileread="dynamicField.value[0].value">
	<span ng-if = "dynamicField.value[0].value">{{dynamicField.value[0].value}}</span>-->
	<input class="form-control" name = "uploadfile[]" type="file" fileread="dynamicField.value[0].value">
</div>
<div class="col-sm-1">
	<span ng-click = "removeDynamicField(indexDynamicField)" class="glyphicon glyphicon-remove pointer"></span>
</div>