<div class="form-group" ng-if="paramsConstruct.typeOfField!='file'">
	<label>Название поля</label>
	 <input placeholder = "Выберите название поля" class="form-control" type="text" ng-model="selectParamsConstruct.nameOfField" typeahead="titleNameOfField for titleNameOfField in paramsConstruct.nameOfField | filter:$viewValue:emptyOrMatch | limitTo:8" typeahead-focus >
</div>
<div class="form-group" ng-if="paramsConstruct.typeOfField=='string'">
	<label>Тип поля</label>
	<select class="form-control" ng-model = "selectParamsConstruct.viewOfField">
		<option value = "">Выберите тип поля</option>
		<option ng-repeat="(i, titleNameOfField) in paramsConstruct.viewOfField" value = "{{i}}">{{paramsConstruct.viewOfField[i]}}</option>
	</select>
</div>
<div class="form-group" ng-if="paramsConstruct.typeOfField=='string'">
	<label>Единицы измерения</label>
	 <input placeholder = "Выберите единицы измерения" class="form-control" type="text" ng-model="selectParamsConstruct.unitsOfField" typeahead="titleUnitsOfField for titleUnitsOfField in paramsConstruct.unitsOfField[selectParamsConstruct.nameOfField] | filter:$viewValue:emptyOrMatch | limitTo:8" typeahead-focus >
</div> 