<script type="text/ng-template" id="addLinkRIDContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Добавление зависимостей</h3>
  </div>
  <div class="modal-body">
    <div ng-repeat="(i, v) in paramsModalInstanceLink.allRID">
      <label>
      <input type="checkbox" value="{{i}}" ng-checked="paramsModalInstanceLink.selection.indexOf(i) > -1" ng-click="toggleSelection(i)"><span style = "padding-left:10px;">{{v}}</span>
      </label>
    </div>
 </div>
 <div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Сохранить</button>
  <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>
</script>